# üßπ Superstore Sales Dataset ‚Äî Data Cleaning

## üìå Objective

The goal of this notebook is to prepare the **Superstore Sales dataset** for exploratory data analysis (EDA) and visualization.  
We'll clean the data using Python and `pandas`, including:

- Removing missing values
- Fixing data types
- Handling duplicates
- Addressing basic outliers
- Adding useful derived columns

---

## üìÅ Step 1: Import Libraries & Load Dataset
We start by importing essential libraries and loading the dataset.

In [43]:
import pandas as pd
import numpy as np

# Load the dataset using the correct encoding
df = pd.read_csv("/mnt/shared/Data_Analytics_Projects/Superstore_Sales_Data/Superstore.csv", encoding='ISO-8859-1')

# Display the first 5 rows
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

---
## üîç Step 2: Basic Dataset Overview

Let‚Äôs look at:

- Number of rows and columns
- Column names and data types
- Summary statistics for numeric columns

In [ ]:
# Dimensions of the dataset
print("Shape of the dataset:", df.shape)

# Data types and non-null counts
df.info()

# Statistical summary
df.describe(include='all')

---
## üß± Step 3: Checking for Missing Values

We now check which columns have missing values, and how many.
This helps us decide whether to drop or fill them.

In [ ]:
# Total missing values in each column
df.isnull().sum()

In [ ]:
# Drop rows with missing values (only if few and not critical)
df.dropna(inplace=True)

---
## üîÑ Step 4: Fixing Data Types

Let‚Äôs convert object/string columns that should be **datetime** (like Order Date and Ship Date).
We‚Äôll also extract **year** and **month** for time-based analysis later.

In [ ]:
# Convert to datetime
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce')
df['Ship Date'] = pd.to_datetime(df['Ship Date'], errors='coerce')

# Extract year and month
df['Order Year'] = df['Order Date'].dt.year
df['Order Month'] = df['Order Date'].dt.month

---
## üß© Step 5: Handling Duplicates

Let‚Äôs check for and remove duplicate records, if any.

In [ ]:
# Number of duplicate rows
df.duplicated().sum()

In [ ]:
# Remove duplicates
df.drop_duplicates(inplace=True)

---
## ‚ö†Ô∏è Step 6: Basic Outlier Detection (Optional)

We‚Äôll look at high outliers in `Sales` and `Profit`.

For simplicity, we‚Äôll **cap extreme sales values** at the 99th percentile.

In [ ]:
# Descriptive stats
df[['Sales', 'Profit']].describe()

In [ ]:
# Cap 'Sales' outliers
sales_cap = df['Sales'].quantile(0.99)
df = df[df['Sales'] < sales_cap]

---
## üí° Step 7: Add Additional Useful Columns (Optional)

These can help in EDA and plotting later.

In [ ]:
# Total Cost = Sales - Profit
df['Cost'] = df['Sales'] - df['Profit']

# Profit Margin %
df['Profit Margin (%)'] = (df['Profit'] / df['Sales']) * 100

---
## üíæ Step 8: Save the Cleaned Dataset

Let‚Äôs save the cleaned version so it can be used for EDA and dashboards.

In [ ]:
# Save to CSV
df.to_csv('cleaned_sales_data.csv', index=False)

---
# ‚úÖ Data Cleaning Completed

We‚Äôve successfully cleaned the Superstore Sales dataset and made it ready for analysis.

You can now move on to:
- Exploratory Data Analysis (EDA)
- Dashboarding (Power BI, Excel, etc.)